[Unit]
Description=herobrian
After=network.target docker.service

[Service]
ExecStart=/usr/bin/docker run --name herobrian herobrian:latest
ExecReload=/usr/bin/docker stop herobrian
KillMode=process
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
