<header class="flex gap-4 m-2 p-4 rounded shadow-lg bg-background">
    <a class="flex items-center gap-2 bg-secondary rounded p-2 hover:underline" href="/">
        <span class="iconify tabler--brand-minecraft"></span>
        <h1 class="text-xl font-bold">herobrian</h1>
    </a>
</header>
