{{ template "_layout.gotmpl" . }}

{{ define "content" }}

<article>
    <section class="card">
        <h2 class="card-title">Page not found! 😞</h2>
        <p>
            Click
            <a
                class="hover:underline"
                href="/"
            >
                here</a>
            to navigate home
        </p>
    </section>
</article>

{{ end }}
